<div ng-controller="ufx.program.controller" class="ufx program" ng-cloak>
    <div class="setting-bar">
        <a ng-click="toggleFullScreen()"><i class="icon icon-window-sizes"></i></a>
    </div>
    <pre>{{setting | json}}</pre>
    <pre ng-model="setting.value" calc-ace-editor="aceOpts" model="setting.value" class="setting-editor" ng-change="populateFields(this)"></pre>
    <div class="fullscreen" ng-show="fullScreen">
        <!--<pre>{{setting | json}}</pre>-->
        <pre ng-model="setting.value" calc-ace-editor="aceOpts" model="setting.value" class="fs-editor" ng-change="populateFields(this)"></pre>
        <div class="parameters">
            <div>
                <b>Fields</b>
            </div>
            <div>
                <div ng-repeat="field in fields">
                    <label>{{field.name}}</label>
                    <input type="number" ng-model="field.value" ufx-field-animation="{{field.name}}"/>
                </div>
            </div>
            <div class="result" ng-show="hasResult">
                <label>Result</label>
                <span>{{result.Value}}</span>
            </div>
            <div class="error" ng-show="result.Errors">
                <span>{{result.Errors}}</span>
            </div>
        </div>
        <div class="fs-bar">
            <button class="btn" ng-click="run()">Run</button>
            <button class="btn btn-success" ng-click="closeFullScreen()">Close</button>
        </div>
    </div>
</div>